{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="card mt-4 mb-4"
         style="padding: 10px; border-radius: 10px">
        <img src="/static/img/1.jpg">
        <img src="/static/img/2.jpg">
        1. Деревянные детали поддонов должны быть изготовлены из пиломатериалов
        хвойных пород (пихты, ели, сосны, лиственницы) не ниже второго сорта по
        ГОСТ 8486-86 и/или пиломатериалов лиственных пород (ольхи, берёзы,
        тополя, дуба, ясеня, бука, вяза, акации, клёна, платана, каштана) не
        ниже второго сорта по ГОСТ 2695-83. Материалоемкость, м3 – 0,036
        <br>2. Деревянные детали поддонов должны быть без пороков: острого
        обзола, прорости, гнили, механических повреждений и инородных включений.
        <br>3. Использование досок из горбыля не допускается.
        <br>4. Деревянные детали поддонов не должны содержать кору или её
        остатков.
        <br>5. Сучки диаметром до 10 мм не учитывают. Допускаются сросшиеся
        сучки. Диаметр одного сучка не должен превышать 1/4 ширины доски на
        поперечных досках и 1/3 ширины доски - на остальных досках. На каждом
        отрезке доски соответствующем по длине ширине доски сумма диаметров всех
        сучков не должна превышать 1/3 ширины доски на поперечных досках и 1/2
        ширины доски - на остальных досках.
        <br>6. В шашках допускаются только пластевые трещины усушки. В каждой
        доске допускается одна глубокая трещина длиной не более ширины доски,
        если трещина образовалась не при сборке поддона.
        <br>7. Повреждение древесины насекомыми не допускается.
        <br>8. Внутренняя заболонь допускается в древесине лиственных пород,
        если она не более 1/4 ширины доски и 1/2 толщины доски. В древесине
        хвойных и лиственных пород допускаются грибные заболонные окраски, не
        являющиеся результатом плохих условий сушки или хранения.
        <br>9. При производстве и обработке поддонов не допускается
        использование пестицидов, фунгицидов и др. опасных химикатов.
        <br>10. Посторонние запахи не допускаются.
        <br>11. Доски и шашки должны быть цельными. Волокна в шашках должны быть
        расположены вдоль поддона.
        <br>12. Поддон изготовляют соединением продольных досок настила с
        поперечными досками, последующим соединением настила из верхних
        продольных и поперечных досок, а так же досок основания с шашками.
        Продольные доски настила соединяют с поперечными досками винтовыми
        гвоздями диаметром 2,8 мм и длиной 65 мм при длине навинтованной части
        не менее 75%. Гвозди должны быть забиты со стороны продольных досок,
        концы должны быть подогнуты и полностью утоплены в древесину на нижней
        стороне поперечных досок поперёк волокон. Настил из верхних продольных и
        поперечных досок, а так же доски основания соединяют с шашками
        фосфатированными или оксидированными винтовыми гвоздями диаметром 3.4 мм
        и длиной 90 мм при длине навинтованной части не менее 75 %. Каждая шашка
        должна быть соединена как с настилом, так и с досками основания не менее
        чем тремя гвоздями.
        <br>13. Необходимо наличие фаски на углах поддона 15х15мм снятой под
        углом 45°;
        <br>14. Для облегчения ввода вилочных захватов на наружных ребрах
        нижнего настила поддона должна быть снята фаска размером не менее
        10ммх45°.
        <br>15. Влажность древесины < 22%
        <br>16. Грузоподъемность поддона составляет 1500 кг.
        <br>17. Маркировка в соответствии с требованиями фитосанитарного
        стандарта ISPM 15.
    </div>
</div>
{% endblock %}