<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<link rel="shortcut icon" href="/static/images/logo.png">-->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title class="mr-4">ИП Зобков А.Ю.</title>
</head>
<body>
<link rel="stylesheet" href="/static/css/style.css">
<nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="/static/img/poddon.png"> ИП
            Зобков А.Ю.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div>
    {% block content %}
    {% endblock %}
</div>
<footer id="sticky-footer" class="footer py-4 bg-light mt-1">
    <div class="container">
        <h6 align="center">
            ИП Зобков А.Ю. / Владимирская область, г. Гусь-Хрустальный, ул. Курловская, д.41 (601507) <br><br>
            Тел: <a href="tel: +79107709988">+7(910)770-99-88</a> (Зобков А.Ю.) / <a href="tel: +79157985409">+7(915)-798-54-09</a> (Козлов А.Е.)
        </h6>
    </div>
</footer>

</body>
</html>