{% extends "base.html" %}

{% block content %}
<div class="info">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-xl-6 mt-4">
                <div class="card mb-4" style="border-radius: 10px; height: 100%">
                    <div class="card-title mr-2 ml-2 mt-2"><h4 align="center">800х1200мм ISPM 15 (поддоны для экспорта)</h4></div>
                    <div class="card-body">
                        <img style="width: 100%" src="/static/img/2.jpg">
                        Поддон плоский деревянный размером 800х1200 мм ГОСТ
                        9078-84,
                        изготовленный из древесины влажности <22%, стандарта
                        ISPM 15
                        (для экспорта)
                    </div>
                    <a class="btn btn-light mb-2" style="margin:auto; width: 60%; border: 2px solid gray;" href="/first">Подробнее</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-6 mt-4">
                <div class="card mb-4" style="border-radius: 10px; height: 100%">
                    <div class="card-title mr-2 ml-2 mt-2"><h4 align="center">800х1200мм ГОСТ 9078-84 (ГОСТ 33757-2016)</h4></div>
                    <div class="card-body">
                        <img style="width: 100%"src="/static/img/4.jpg">
                        Поддон плоский деревянный размером 800х1200 мм ГОСТ 9078-84, изготовленный из древесины естественной влажности
                    </div>
                    <a class="btn btn-light mt-1 mb-2" style="margin:auto; width: 60%; border: 2px solid gray;" href="/second">Подробнее</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-6 mt-4 mb-4">
                <div class="card mb-4" style="border-radius: 10px; height: 100%">
                    <div class="card-title mr-2 ml-2 mt-2"><h4 align="center">800х1200мм ГОСТ 9557-87 (ГОСТ 33757-2016)</h4></div>
                    <div class="card-body">
                        <img style="width: 100%"src="/static/img/6.jpg">
                        Поддон плоский деревянный размером 800х1200 мм ГОСТ 9557-87, изготовленный из древесины естественной влажности
                    </div>
                    <a class="btn btn-light mb-2" style="margin:auto; width: 60%; border: 2px solid gray" href="/third">Подробнее</a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-6 mt-4 mb-4">
                <div class="card mb-4" style="border-radius: 10px; height: 100%">
                    <div class="card-title mr-2 ml-2 mt-2"><h4 align="center">1000х1200мм ГОСТ 9078-84 (ГОСТ 33757-2016)</h4></div>
                    <div class="card-body">
                        <img style="width: 100%" src="/static/img/8.jpg">
                        Поддон плоский деревянный размером 1000х1200 мм ГОСТ 9078-84, изготовленный из древесины естественной влажности
                    </div>
                    <a class="btn btn-light mb-2" style="margin:auto; width: 60%; border: 2px solid gray" href="fourth">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}